.bgImage {
    width: 800px;
    height: 800px;
    background-image: url("./util/images/frontView.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border: 2px solid black;
}

.canvas-wrapper {
    position: relative;
    top: 284px;
    left: 299px;
    width: 200px;
    border: 2px dashed red;
}

.main {
    display: flex;
}