* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: lightgrey;
    font-size: 16px;
}

#wrapper {
    background-color: white;
}

h1 {
    margin: 1% 0;
    padding: .25em;
    background-color: #efefef;
}

ul {
    text-align: center;
}

h1, p {
    text-align: center;
}

#content {
    overflow: auto;
    display: flex;
    justify-content: center;
    height: calc(100vh - 135px);
}

#nav, #feature, #footer {
    margin: 1% 0;
}

li {
    display: inline;
    padding: 0.5em;
}

#nav, #footer {
    position: fixed;
    width: 90%;
    bottom: 0;
    background-color: #efefef;
    padding: 0.5em 0;
}


/* Product List style start */

.product-listing {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    flex-direction: row;
    margin: 1.5rem;
}

.single-product {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    width: 14rem;
    height: 24rem;
    font-size: 1rem;
}

.single-product:hover {
    background: #0000000a;
    border: 2px solid black;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.8rem;
}

.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-sku {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

.product-price {
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 10px;
}
/* Product List style end */


/*
Product Title Component*/
.title {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: azure;
}

.title > .btn {
    position: absolute;
    left: 0.2rem;
    top: 20%;
}

.btn {
    background-color: #4141e3b0;
    padding: 0.5rem;
    color: white;
    border-radius: 20%;
    cursor: pointer;
}
